.addmargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .selector {
  margin: theme.spacing(1),
  width: 120,
} */

.centeralign {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
